<html>
  <title>Capstone Project</title>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static' , filename='styles.css')}}"
    />
  </head>
  <body>
    <div class="div3">
      <div class="div1">
        <p class="one">
          <img
            class="img1"
            src="{{ url_for('static' , filename= 'pics/projimg1.jpg')}}"
          />
          ParaAssist
        </p>
        <p class="two">Parental Help</p>
      </div>
    </div>
    <p
      style="
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: xx-large;
        margin-top: 300px;
      "
    >
      Account Created
    </p>
  </body>
</html>
